h1 {
    color: blue;
}

button {
    color: whitesmoke;
    background-color: olive;
}


h2 {
    color: papayawhip;
    background-color: lightskyblue;
}


p {
    color: yellowgreen;
    background-color: antiquewhite;
}

body {
    background-color: beige;
}